{% extends 'base.html' %}

{% block title %}logged_out.html{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static "img/register.jpg" %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>About Accounts</h1>
                        <span class="subheading">Identify</span>
                    </div>
                </div>
            </div>
        </div>
  </header>
<div id="content">

    <h1>Logged out </h1>

    <p>"Thanks for spending your quality time with this web site today."</p>

    <button type="submit" class="btn btn-primary"><a href="{% url 'login' %}">Log in again</a></button>
</div>
<script type="text/javascript">window.location.hash = '#content';</script>
{% endblock %}