{% extends 'base.html' %}

{% block title %}post_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static "img/post-bg.jpg" %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <span class="subheading">Talk about our story ! </span>
                    </div>
                </div>
            </div>
        </div>
  </header>
<br/>
<br/>
<div id="content">


    <form action="." method="post">
        {% csrf_token %}

        {% if form.errors %}
        <p class="errornote">Wrong! Please correct the error(s) below.</p>
        {% endif %}

        <h4>This is a creation or update form for your post.</h4>

        <fieldset class="aligned">

            <div class="form-row">
                {{ form.title.label_tag }} {{ form.title }}
            </div>

            <div class="form-row">
                {{ form.slug.label_tag }} {{ form.slug }}
            </div>

            <div class="form-row">
                {{ form.description.label_tag }} {{ form.description }}
            </div>

            <div class="form-row">
                {{ form.content.label_tag }} {{ form.content }}
            </div>

            <div class="form-row">
                {{ form.tag.label_tag }} {{ form.tag }}
            </div>

        </fieldset>

<button type="submit" class="btn btn-primary" style="float: right;">Submit</button>

        <script type="text/javascript">document.getElementById('id_title').focus();</script>
    </form>

</div>
{% endblock %}