{% extends 'base.html' %}

{% block title %}post_archive_day.html{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static "img/post-bg.jpg" %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <span class="subheading">Talk about our story ! </span>
                    </div>
                </div>
            </div>
        </div>
  </header>

<center><h1 id="content">Post Archives for {{ day|date:"N d,Y" }}</h1></center>

<br/>

<table class="table table-hover">
    <tr>
        <td>Date</td>
        <td>Title</td>
        <td>Owner</td>
    </tr>
    {% for post in object_list %}
    <tr>
        <td>{{ post.modify_date|date:"Y-m-d" }}</td>
        <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
        <td>{{ post.owner }}</td>
    </tr>
    {% endfor %}
</table>
<script type="text/javascript">window.location.hash="#content"</script>
{% endblock %}